$pink: #FAB3A9;
$green: #A7C4B5;
$dark: #373F47;
$light: #F6F6F2;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: $dark;
    
}

.explore{
    width: 90%;
    margin-top: 5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



.wholeProfile{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deletecomment{
    width: 10%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginPage{
    justify-content: center;
}

.arrowupBtn, .arrowdownBtn{
    background-color: $light;
    padding: 1%;
    width: 18px;
}

#grey{
    opacity: 0.8;
}

#deletegroup{
    display: none;
}

#editBio, #editProfile, #groupeditBio, #groupeditProfile{
    display: none;
}

.profilepagePic, .grouppagePic{
    width: 169px !important;
    height: 169px !important;
    border-radius: 50%;
    padding: 5%;
}

.inputAndButton{
    display: flex;
    flex-direction: row;
    
    input{
        width: 70%;
        margin: 5%;
    }

    button{
        width: 30%;
        margin: 5%;
    }
}

.followersOrFollowingListContainer{
    position: absolute;

    display: none;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    padding: 5%;
}

.boxContents{
    padding: 5%;
}

.profilePicEditorContainer{
    position: absolute;

    display: none;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    padding: 5%;
}

.profilePicEditor, .followersOrFollowingList{
    position: fixed;
    background-color: $light;
    height: 20vh;
    width: 90vw;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    h1{
        font-size: 20px;
    }
}

.boxBasics{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5%;

}

#newBio, #newBioBtn{
    display: none;
}

body{
    background-color: $green;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: fit-content;
}


input:focus{
    border: $dark 1px solid;
    outline: none;
}

input::placeholder{
    color: $dark;
}

input, button{
    background-color: $pink;
    border-radius: 15px;
}

button{
    padding: 3%;
    margin: 2%;
    width: 50%;
    border: none;
}

input{
    padding: 3%;
    border: transparent 1px solid;
    justify-content: end;
}

#profilePic{
    border-radius: 100%;
    width: 25px;
    height: 25px;
}

#groupname{
    width: 35vw;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #FAB3A9 inset !important;
    -webkit-text-fill-color: #373F47 !important;
}

.loginContainer, .registerContainer{
    margin: 5%;
    background-color: $light;
    width: 90%;
    border-radius: 15px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #forgotPassword{
        background-color: transparent;
        width: fit-content;
    }

    #forgotPasswordText{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .error{
        display: none;
        font-style: italic;
        text-align: center;
        font-size: 12px;
        color: rgba(red, $alpha: 0.7);
    }

    #loginBtn, #makeAccount{
        margin-top: 5%;
    }

    h1{
        padding: 2%;
    }

    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .inputcontainer{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 2%;

            label{
                padding-right: 2%;
            }
        }

        p{
            padding: 5%;
        }
    }
}

.registerContainer{
    display: none;
}

.navbar{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
    background-color: $light;
    justify-content: space-between;

    .logo{

        #logo{
            height: 10vh;
        }
    }

    .searchBar{
        width: 50%;

        input{
            width: 100%;
        }
    }

    .hamburger{
        margin: 5%;
    }

    .dropDown, .notifdropDown{
        display: none;
        flex-direction: column;
        position: absolute;
        width: 40%;
        top: 12%;
        right: 5%;
        border-radius: 5px;

        box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;

        .triangle{
            width: 0;
            height: 0;
            position: absolute;
            right: 5px;
            top: -10px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 10px solid $light;
        }
    
        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style: none;
            border-radius: 5px;
            background-color: $light;
    
            li{
                padding: 10%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                #username{
                    padding: 5%;
                }
            }
        }
    }

    .notifdropDown{
        top: 20%;
        right: 20%;
        display: flex;
    }
}

.popularOrRecent{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-top: 5%;

    button{
        width: 50%;
    }
}

.votes{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-right: $dark 1px solid;

    h2{
        font-size: 10px;
        padding: 5% 0;
    }
}

.comment{
    margin-left: 2%;
}

.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0;

    img{
        margin-left: 0;
    }

    h2{
        font-size: 12px;
        padding: 2%;
    }
}

#deleteuser{
    display: none;
}

.postImgTxt{
    padding: 5%;
}

.createnewPost{
    margin-top: 5%;
    width: 90vw;
    background-color: $light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    .initialbox{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
    }

    .secondbox, .thirdbox{
        width: 100%;
        margin: 5%;
        display: none;

        input{
            margin-left: 2%;
            width: 95%;
        }
    }

    img{
        height: 8vh;
    }

    i{
        padding: 5%;
    }

    input{
        width: 70%;
        height: 60%;
    }
}

.btn:focus { 
    outline:none;
    border: transparent;
}

.btn:hover{
    outline:none;
    border: transparent;
}

.postAndComments{
    width: 100%;
}

.seeMore{
    width: 60%;
    margin: 0 20%;
    background-color: $light;
}

.postsContainer, .postpostsContainer{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-bottom: 5%;

    .post{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 5%;
        padding: 5% 0;
        background-color: $light;
        border-radius: 15px;

        .thePost{
            width: 80%;
            height: 100%;
            padding: 0 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            .commentbtn{
                font-size: 15px;
                padding: 20%;
                margin-top: 40%;
                width: max-content;
            }

            img{
                object-fit: cover;
                width: 100%;
                border-radius: 15px;
            }

            h2{
                font-weight: 200;
                padding-bottom: 2%;
            }

            h3{
                font-size: 15px;
                font-weight: 200;
            }
        }
    }

    .bottom{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .comments{
        display: none;
    }

    .comments, .postcomments{

        background-color: $light;
        width: 100%;
        padding-bottom: 5%;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        flex-direction: column;
        justify-content: center;

        .commentBar{
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .commentInput{
            width: 80%;
            margin: 5%;
        }

        ul{
            list-style:none;
            
            li{
                display: flex;
                flex-direction: row;
                margin: 2%;

                .comment{
                    display: flex;
                    flex-direction: column;
                    width: 80%;

                    .commentText{
                        font-size: 15px;
                        padding-left: 2%;
                        width: 100%;
                        margin: 5% 0;
                    }
                }

                .profile{
                    justify-content: space-between;
                }
            }
        }
    }
}

.requestmod{
    height: 8vh;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.profileBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light;
    margin: 5%;
    border-radius: 15px;
    width: 50%;
    padding: 2% 0;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    #username, #groupUsername{
        padding: 5%;
        font-size: 30px;
        font-weight: 700;
    }
}

.bio{
    background-color: $light;
    margin-top: 5%;
    border-radius: 15px;
    width: 90%;
    height: fit-content;
    padding: 5%;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    i{
        padding-bottom: 2%;
    }
}

.follow{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin: 5%;

    .followers, .following{
        background-color: $light;
        border-radius: 15px;
        padding: 4% 5%;
        width: 45%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

}

.membersAndJoin{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    
    .members, button{
        background-color: #F6F6F2;
        border-radius: 15px;
        padding: 5%;
        width: 45%;
    }

    .members{
        display: flex;
        align-items: center;
        height: 80%;
        justify-content: space-between;
    }

    button{
        background-color: $pink;
        margin: 0;
    }
}

span{
    background-color: $pink;
    padding: 2% 5%;
    border-radius: 15px;
}

.noBtn{
    background-color: transparent;
}

#commentDate{
    font-size: 10px;
}

.pageNumContainer{
    display: flex;
    margin: 5%;
    flex-direction: row;
    background-color: $light;
    padding: 1% 3%;
    border-radius: 15px;
    justify-content: center;
    width: fit-content;
    align-items: center;

    #pageNum{
        padding: 10%;
    }
}