$pink: #FAB3A9;
$green: #A7C4B5;
$dark: #373F47;
$light: #F6F6F2;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: $green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.loginContainer{
    background-color: $light;
    width: 90%;
    border-radius: 15px;
    padding: 5%;

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .inputcontainer{
            display: flex;
            flex-direction: row;

            input, button{
                background-color: $pink;
                border: none;
                border-radius: 15px;
            }

        }
    }
}